body{
    text-align: center;
    background: linear-gradient(#c7c0c0,white ,red,white ,#c7c0c0);
}
h1  {
    border: 2px solid #000000;
    background-color: #000000;
    color: white;
}
.imagem-vasco{
    width: 150px;
}