body{
    text-align: center;
    background-image: linear-gradient(rgb(199, 192, 192) 50%,white 45% , red 5%,white 45%,rgb(199, 192, 192));
}
h1  {
    border: 2px solid #000000;
    background-color: #000000;
    color: white;
}
.imagem-vasco{
    width: 150px;
}